<launch>
    <!-- Launch the MoveIt! control node -->
       <node name="ur5_plot_node" 
          pkg="ur5_moveit_control" 
          type="ur5_plot.py"
          output="screen">
    </node>
    <node name="ur5_moveit_control_node" 
          pkg="ur5_moveit_control" 
          type="ur5_ctrl.py"
          output="screen">
    </node>

</launch>
